<div>
	<div class="row">
		<div class="col-xs-12">
			<h3 class="text-left">
				Agregar Persona
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">Tipo Persona</span>
			  <select class="form-control">
			  </select>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">Tipo Persona</span>
			  <select class="form-control">
			  </select>
			</div>
		</div>
	</div>
</div>